@font-face {
  font-family: "Space-Semi";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Space-Medium";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Space-Regular";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-Regular.ttf");
}

:root {
  --darkblue-color: #1a1e42;
  --darkblue-for-text: rgba(26, 30, 66, 0.8);
  --orange-color: orange;
  --p-color: #667085;
  --gray-400: #98a2b3;
  --white: white;
  --dark-white: #d0d5dd;
  --background-section: #2a2d51;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Space-Semi, sans-serif;
  font-style: normal;
  font-weight: 500;
}

html {
  margin-left: 0;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  align-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  padding: 4rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1.8rem 1.6rem;
}

.logo {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 3rem;
}

.burger {
  border: none;
  background-color: transparent;
}

.navigation-blog {
  align-self: center;
  gap: 5rem;
}

.navigation-blog ul {
  display: inline-flex;
  gap: 2rem;
}

.navigation-blog li {
  list-style: none;
  text-align: center;
  margin: auto;
}

.navigation-blog a {
  color: #667085;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
}

.lang__start {
  display: flex;
  color: transparent;
  gap: 2rem;
}

.lang__start a {
  color: var(--darkblue-color);
  font-size: 1.8rem;
  line-height: 1.75rem;
}

.lang {
  display: flex;
  color: #667085;
  font-size: 1.6rem;
  line-height: 1.5rem;
  text-align: center;
  gap: 0.25rem;
  border: none;
  align-items: center;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.start {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 1.6rem;
  line-height: 1.75rem;
  align-self: center;
  padding: 1.125rem 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.grey {
  color: var(--p-color);
  font-family: Space-Regular, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.head3 {
  color: var(--darkblue-color);
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.demo {
    flex-direction: column;
    gap: 2rem;
}

.card {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    transition: 1s;
    transform-style: preserve-3d;
}

.town--1 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    position: absolute;
    backface-visibility:hidden;
}

.town--2 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    position: absolute;
    backface-visibility:hidden;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);  
}

marquee {
    width: 80rem;
    height: 10rem;
    background-color: rgb(56, 56, 56, 0.11);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

marquee img {
    display: inline-block;
    margin-left: 3rem;
}

.square {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: rgb(20, 143, 224);
    animation: square-around 1s infinite ease-in-out;
    margin: 0 auto;
}

@keyframes square-around {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}


.marq {
  border: 1px solid black;
  width: 80rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: hidden;
  position: relative;
  align-items: center;
}

.marq--1, .marq--2 {
  display: flex;
  gap: 1rem;
  position: absolute;

}

.marq--1 {
  animation: marq1 10s infinite linear;
  left: 80rem;
}
.marq--2 {
  animation: marq2 10s 5s infinite linear;
  left: 80rem;
}


@keyframes marq1 {
  to {
    transform: translateX(-160rem);
  }
}

@keyframes marq2 {
  to {
    transform: translateX(-160rem);
  }
}


.footer-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.first {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.footer-content a {
  text-decoration: none;
  color: var(--gray-400);
}

.footc {
  padding-bottom: 1rem;
}

.trustpilot {
  margin: 0 auto;
  align-items: flex-start;
}

.trustpilot ul {
  display: inline-flex;
}

.trustpilot li {
  list-style: none;
}

.raiting {
  gap: 1rem;
}

.score {
  margin-top: -0.5rem;
}

.partners {
  display: inline-flex;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.footmenu {
  font-size: 1.6rem;
}

.footlogo {
  color: var(--darkblue-color);
  font-size: 3rem;
  line-height: 1.875rem;
  max-width: max-content;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.soc {
  display: none;
  gap: 2rem;
}

@media (max-width: 814px) {
  .navigation-blog {
    display: none;
  }

  .first {
    max-width: max-content;
    margin: 0 auto;
  }

  .footer-content {
    flex-direction: column;
  }
}

@media (min-width: 815px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .wrapper {
    justify-content: space-between;
  }

  .navigation-blog {
    display: flex;
  }

  .firs_page_descript {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: auto;
    max-width: 60rem;
    max-height: 80rem;
    margin: 0;
  }

  .first {
    flex-direction: row;
    justify-content: space-between;
  }

  .soc {
    display: flex;
  }

  .last {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    max-width: 100%;
  }
}

@media (max-width: 1040px) {
  .navigation-blog {
    display: none;
  }
}

@media (min-width: 1041px) {
  .burger {
    display: none;
  }
}
