@font-face {
  font-family: "Space-Semi";
  src: url("fonts/space_Groteks/static/SpaceGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Space-Medium";
  src: url("fonts/space_Groteks/static/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Space-Regular";
  src: url("fonts/space_Groteks/static/SpaceGrotesk-Regular.ttf");
}

:root {
  --darkblue-color: #1a1e42;
  --darkblue-for-text: rgba(26, 30, 66, 0.8);
  --orange-color: orange;
  --p-color: #98a2b3;
  --gray-400: #98a2b3;
  --white: white;
  --dark-white: #d0d5dd;
  --background-section: #2a2d51;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Space-Semi, sans-serif;
  font-style: normal;
  font-weight: 600;
}

html {
  margin-left: 0;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  align-content: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 4rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1.8rem 1.6rem;
}

.logo {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 3rem;
}

.burger {
  border: none;
  background-color: transparent;
}

.navigation-blog {
  align-self: center;
  gap: 5rem;
}

.navigation-blog ul {
  display: inline-flex;
  gap: 2rem;
}

.navigation-blog li {
  list-style: none;
  text-align: center;
  margin: auto;
}

.navigation-blog a {
  color: #667085;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
}

.lang__start {
  display: flex;
  color: transparent;
  gap: 2rem;
}

.lang__start a {
  color: var(--darkblue-color);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.lang {
  display: flex;
  color: #667085;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  gap: 0.25rem;
  border: none;
  align-items: center;
  background-color: transparent;
}

.start {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 1.6rem;
  line-height: 1.75rem;
  align-self: center;
  padding: 1.125rem 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.firs_page_descript {
  margin: 0 auto;
  max-width: 45rem;
  max-height: 120rem;
  overflow: hidden;
}

.about_company {
  justify-content: space-between;
}

.about_lost {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.wallets {
  margin-top: 3rem;
}

.element img {
  max-width: max-content;
  max-height: max-content;
}

.descript {
  color: var(--darkblue-color);
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: -0.12rem;
}

.colortext {
  color: orange;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.12rem;
}

.grey {
  color: var(--p-color);
  font-family: Space-Regular, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.button {
  display: block;
  border-radius: 0.4rem;
  background: var(--orange-color);
  text-align: center;
  padding: 1rem 2.4rem;
  max-width: max-content;
  margin: 0 auto;
}

.unlock {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
}

.reasons_for_rewallet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 130rem;
}

.reasons_for_rewallet li {
  margin-bottom: 2rem;
}

.unlock1 {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  line-height: 1.75rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 2.4rem;
}

.under-p {
  font-family: Space-Medium, sans-serif;
  color: var(--p-color);
  font-size: 1.8rem;
}

.under-p-white {
  font-family: Space-Medium, sans-serif;
  color: var(--dark-white);
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.whitelist .under-p-white {
  font-size: 1.6rem;
}

.anotherbigwallet {
  align-self: center;
  max-width: max-content;
  margin: 0 auto;
  margin-top: 4.8rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 54.2rem;
}

.element {
  list-style: none;
}

.wall {
  width: 17rem;
}

.element2 {
  margin: 0 auto;
}

.wall2 {
  max-width: 17rem;
  min-width: 16rem;
}

#wallets .container {
  background-color: #F9FAFB;
}

.list2 {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.others {
  margin-bottom: 2.5rem;
}

.element2 {
  list-style: none;
}

.dark {
  background-color: var(--darkblue-color);
  background-image: url("../icons/Ellipse_130.png"),
    url("../icons/Ellipse_130_1.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  max-width: 100%;
}

.descript_why {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  overflow: hidden;
}

.head2-white {
  color: var(--white);
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.25rem;
  letter-spacing: -0.11rem;
}

.text__why .line {
  margin-top: 3.75rem;
}

.text__why .head2-white {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.text__why .under-p-white {
  margin-bottom: 3.75rem;
}

.descript_why .button {
  margin: 0 auto;
  margin-top: 4.8rem;
}

.whitelist {
  list-style: none;
  background-color: var(--background-section);
  border-radius: 0.5rem;
  padding: 3.2rem;
  max-width: 38rem;
  margin: 0 auto;
}

.head2 {
  color: var(--darkblue-color);
  font-size: 4.4rem;
  line-height: 5.2rem;
  letter-spacing: -0.176rem;
}

.descript_company {
  max-width: 45rem;
  margin: 0 auto;
}

.descript_company .head2 {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  flex-direction: row;
}

.read {
  display: inline-flex;
  margin-top: 1.6rem;
  gap: 0.5rem;
}

.arrow {
  margin-top: -0.25rem;
  width: 2rem;
}

.readmore {
  font-family: Space-Medium, sans-serif;
  font-size: 1.8rem;
  color: var(--orange-color);
}

.bigwallet {
  display: flex;
  margin: 0 auto;
}

.bigwallet2 {
  width: 33rem;
  height: 33.6rem;
}

.text_process {
  margin-top: 3.75rem;
  margin-bottom: 3rem;
  max-width: 80rem;
  align-self: start;
}

.processlist {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80rem;
}

.items_process {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  border-radius: 0.5rem;
  margin: 0 auto 2.4rem;
  max-width: 34rem;
  gap: 1.25rem;
}

.bgol {
  background-color: var(--background-section);
  display: flex;
  padding: 1.2rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 2rem;
}

.text_process .head2-white {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.promisetoyou {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  padding-top: 3rem;
}

.descript_promise {
  align-items: center;
  max-width: max-content;
  align-self: center;
}

.descript_promise .head2-white {
  margin-top: 0.75rem;
  margin-bottom: 3.75rem;
}

.list_promise {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.promiseitems {
  background-color: var(--background-section);
  padding: 3.2rem;
  border-radius: 0.5rem;
}

.promiseitems .head3-white {
  margin-top: 2.4rem;
}

.Testimonials .container {
  display: flex;
  flex-direction: column;
}

.Testimonials {
  justify-content: space-around;
  margin: 0 auto;
  background-color: #F9FAFB;
}

.Testimonials .grey {
  font-size: 1.8rem;
  color: rgba(26, 30, 66, 0.80)
}

.Testimonials ul {
  margin-top: 4.8rem;
}

.raiting li {
  display: inline-flex;
}

.stars {
  height: 1.4rem;
}

.testandblog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testandblog .head2 {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
}

.testandblog .line {
  margin-bottom: 0.75rem;
  justify-items: center;
}

.testandblog ul {
  margin: 0 auto;
}

.grey-otz {
  color: var(--p-color);
  font-family: Space-Regular, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-top: 2.4rem;
}

.reviews {
  text-decoration: none;
  color: var(--dark-white);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.seereviews {
  background-color: #00b67a;
  padding: 1rem 2.4rem;
  text-align: center;
  margin: 0 auto;
}

.rewalletinthemedia {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 3.75rem auto;
  padding: 0;
  gap: 10rem;
}

.blog {
  max-width: 31.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  margin: 0 auto;
}

.iconblog {
  max-width: 25rem;
  border-radius: 0.5rem;
}

.container .rewalletinthemeida {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.rewalletinthemeida .button {
  max-height: 3rem;
}

.seemore {
  text-decoration: none;
  color: var(--white);
  font-size: 1.8rem;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2.4rem;
}

.ava {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avabruno {
  border-radius: 50%;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.ava p {
  margin-top: -0.25rem;
}

.author p {
  margin-top: 0.5rem;
}

.iconblog {
  justify-content: center;
  max-width: 31.5rem;
}

.blog a {
  text-decoration: none;
  color: var(--darkblue-color);
}

.pr1 {
  display: inline;
  margin-bottom: 0.75rem;
}

.pr2 {
  display: inline;
  margin-bottom: 0.75rem;
}

.pr3 {
  display: inline;
}

.line {
  width: 3rem;
  height: 0.125rem;
  background-color: var(--orange-color);
}

.head3 {
  color: var(--darkblue-color);
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.head3-white {
  font-family: Space-Semi, sans-serif;
  color: var(--white);
  font-size: 2.2rem;
  line-height: 3rem;
}

.otz {
  list-style: none;
  border-radius: 0.5rem;
  padding: 2.4rem;
  margin: 0 auto 2.4rem;
  max-width: 43rem;
  background-color: var(--white);
}

blockquote .head3 {
  margin-top: 2rem;
}

.blue-hr {
  background-color: var(--darkblue-color);
}

.stepstostart {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
}

.choseblock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--darkblue-color);
  padding-top: 8rem;
  padding-bottom: 3.2rem;
  border-radius: 0.5rem;
  max-width: 34rem;
  margin: 4.6rem auto 1rem;
}

.choseblock p {
  text-align: center;
  margin-bottom: 4rem;
}

.choseblock ul {
  margin: 0 auto;
}

.choseblock li {
  background-color: var(--white);
  list-style: none;
  width: 20rem;
  border-radius: 0.5rem;
  margin: 0.8rem 1.6rem;
}

.touch {
  background-color: var(--darkblue-color);
  margin: 3.75rem auto+10rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  background-image: url("../icons/Ellipse_130.png"),
    url("../icons/Ellipse_130_1.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.touch img {
  max-width: 11rem;
  max-height: 11rem;
  border-radius: 0.5rem;
}

.touch_content {
  margin-top: 1.16rem;
  margin-left: 0;
}

.touch_content .head3-white {
  margin-top: 2rem;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 3rem;
}

.contactmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contactphone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contactmail a {
  text-decoration: none;
  color: var(--dark-white);
}

.contactphone a {
  text-decoration: none;
  color: var(--dark-white);
}

.foot {
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo_and_menu {
  justify-self: center;
  flex-direction: column;
}

.footer {
  background-color: #d0d5dd;
}

.footer-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.footer-content a {
  text-decoration: none;
  color: var(--gray-400);
}

.footc {
  padding-bottom: 1rem;
}

.trustpilot {
  margin: 0 auto;
  align-items: flex-start;
}

.trustpilot ul {
  display: inline-flex;
}

.trustpilot li {
  list-style: none;
}

.otz .raiting {
  gap: 1rem;
  margin-top: 0;
}

.score {
  margin-top: -0.5rem;
}

.partners {
  display: inline-flex;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.faq {
  justify-content: space-around;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #F9FAFB;
}

.faq .head2 {
  display: flex;
  justify-content: center;
}

.steps_start {
  padding: 6rem 1.6rem;
  justify-content: space-around;
}

.wrapper_steps {
  margin: 0 auto;
  max-width: 61.6rem;
}

.wrapper_steps .head2 {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.wrapper_steps ul {
  max-width: max-content;
  margin: 2rem auto 0rem;
  gap: 1.6rem;
}

.wrapper_steps li {
  margin-top: 1.6rem;
}

summary::marker {
  content: none;
}

.accardion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.nameofdetails {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
  color: var(--darkblue-color);
  font-size: 2.2rem;
  line-height: 3.2rem;
}

.footmenu {
  font-size: 1.6rem;
}

.footlogo {
  color: var(--darkblue-color);
  font-size: 3rem;
  line-height: 1.875rem;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soc {
  display: none;
  gap: 2rem;
}

@media (max-width: 814px) {
  .navigation-blog {
    display: none;
  }

  .about_company {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
  }

  .whitelist {
    margin: 0 auto;
  }

  .bigwallet {
    max-width: 29rem;
    max-height: 33.3rem;  
  }
}

@media (min-width: 815px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .wrapper {
    justify-content: space-evenly;
  }

  .burger {
    display: none;
  }

  .navigation-blog {
    display: flex;
  }

  .firs_page_descript {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: auto;
    max-width: 60rem;
    max-height: 80rem;
    margin: 0;
  }

  .button {
    margin-left: 0;
  }

  .promisetoyou .button {
    margin: 6rem auto 0 auto;
  }

  .seemore {
    margin: 0 auto;
  }

  .descript {
    font-size: 6rem;
  }

  .bigwallet {
    width: 53.7rem;
    height: 61.5rem;
  }

  .first_page {
    justify-content: space-around;
  }

  .descript_why {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .text__why {
    align-self: flex-start;
    width: 810px;
    margin-left: 4rem;
  }

  .about_company {
    flex-direction: row-reverse;
  }

  .anotherbigwallet {
    margin: 3rem auto 0;
  }

  .bigwallet2 {
    width: 52.6rem;
    height: 53.6rem;
  }

  .accardion {
    width: 55.3rem;
  }

  .process {
    justify-content: center;
  }

  .reasons_for_rewallet {
    display: flex;
    gap: 1.5rem;
  }

  .processlist {
    justify-content: space-between;
  }

  .text_process {
    justify-content: flex-start;
    align-self: center;
    width: 800px;
  }

  .descript_promise {
    align-self: flex-start;
    margin-left: 4rem;
  }

  .promisetoyou {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wrapper_steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wrapper_steps ul {
    max-width: max-content;
    margin-left: 0;
    gap: 1.6rem;
  }

  .choseblock {
    width: 34rem;
  }

  .touch {
    justify-content: flex-start;
    padding-left: 10rem;
  }

  .first {
    flex-direction: row;
    justify-content: space-between;
  }

  .soc {
    display: flex;
  }

  .last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }
}