@font-face {
    font-family: "Space-Semi";
    src: url(fonts/space_Groteks/static/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
    font-family: "Space-Medium";
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
}

@font-face {
    font-family: "Space-Regular";
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
}

:root {
    --darkblue-color: #1A1E42;
    --darkblue-for-text: rgba(26, 30, 66, 0.80);
    --orange-color: orange;
    --p-color: #667085;
    --gray-400: #98A2B3;
    --white: white;
    --dark-white: #D0D5DD;
    --background-section: #2A2D51;
    font-size: 62.5%;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

html {
    margin-left: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: white;

}

body {
    align-content: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 2.5rem 1.6rem;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
    justify-content: space-between;
    margin: auto;
    max-width: 1280px;
}

.wrapper a {
    text-decoration: none;
    font-family: Space-Semi, sans-serif;
    color: var(--darkblue-color);
    font-size: 3rem;
    
}

.burger {
    border: none;

}

.navigation-blog {
    display: none;
}

.bigwallet {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.firs_page_descript {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: auto;
    max-width: 45rem;
    max-height: 45rem;
}


.about_lost {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.wallets {
    margin-top: 3rem;
}

.descript {
    color: var(--darkblue-color);
    font-family: Space-Semi, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    align-self: stretch;
}

.colortext {
    color: orange;
    font-family: Space-Semi, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.grey {
    color: var(--p-color);
    font-family: Space-Regular, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.button {
    border-radius: 0.25rem;
    background: var(--orange-color);
    text-align: center;
    padding: 0.625rem 1.5rem;
    margin-bottom: 0.5rem;
    max-width: 22rem;

}

.unlock {
    font-family: Space-Semi, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
}

.under-p {
    font-family: Space-Medium, sans-serif;
    color: var(--p-color);
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;

}

.under-p-white {
    font-family: Space-Medium, sans-serif;
    color: var(--dark-white);
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;

}

.anotherbigwallet {
    align-self: center;
}


.list {
    display: flex;
    justify-content: space-between;
    max-width: 33rem;
    flex-wrap: wrap;
    margin: 1rem;
}

.element {
    list-style: none;
}

.wall {
    width: 10rem;
}

.wall2 {
    width: 15rem;
}


.list2 {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    flex-wrap: wrap;
    align-items: center;
}


.others {
    margin-bottom: 2.5rem;
}


.element2 {
    display: flex;
    list-style: none;
    width: 11rem;
    
}


.descript_why {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.descript_why .line {
    margin-top: 3.75rem;
}

.descript_why .head2-white {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.descript_why .under-p-white {
    margin-bottom: 3.75rem;
}

.reasons_for_rewallet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.descript_why .button {
    margin-top: 3rem;
    margin-bottom: 3.75rem;
}

.whitelist {
    list-style: none;
    background-color: var(--background-section);
    border-radius: 0.5rem;
    padding: 3.2rem;
    margin-bottom: 2.4rem;
    max-width: 26rem;

}



.head2 {
    color: var(--darkblue-color);
    font-family: Space-Semi, sans-serif;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem;
    letter-spacing: -0.11rem;
}

.head2-white {
    color: var(--white);
    font-family: Space-Semi, sans-serif;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem;
    letter-spacing: -0.11rem;
}


.dark {
    background-color: var(--darkblue-color);
}


.descript_company {
    max-width: 37rem;
}

.descript_company .head2{
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    flex-direction: row;
}



.read {
    display: inline-flex;
    margin-top: 1.6rem;
    gap: 0.5rem;
}

.arrow {
    margin-top: -0.25rem;
    width: 2rem;
}

.readmore {
    font-family: Space-Medium, sans-serif;
    font-size: 1.8rem;
    color: var(--orange-color);

}

.bigwallet2 {
    width: 24.375rem;
    height: 24.75rem;
}

.process {
    flex-direction: column;
    justify-content: flex-start;
}

.text_process{
    margin-top: 3.75rem;
    margin-bottom: 3rem;
}

.processlist {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80rem;
}

.items_process {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    border-radius: 0.5rem;
    padding: 3.2rem;
    margin-bottom: 2.4rem;
    max-width: 34rem;
    gap: 1.25rem;
}

.bgol {
    background-color: var(--background-section);
    display: flex;
    padding: 0.75rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}


.text_process .head2-white {
    padding-top: 0.75rem;
    padding-bottom: 1rem;
}

.promisetoyou {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    padding-top: 3rem;
}

.descript_promise {
    justify-content: flex-start;
}

.descript_promise .head2-white {
    margin-top: 0.75rem;
    margin-bottom: 3.75rem;
} 

.list_promise {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.promiseitems {
    background-color: var(--background-section);
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}


.Testimonials .container {
    max-width: 90rem;

}
 


.Testimonials ul {
    margin-top: 4.8rem;
}

.raiting li{
    display: inline-flex;
}

.stars {
    height: 1.4rem;
}

.testandblog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testandblog .head2 {
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 3rem;
}

.testandblog .line {
    margin-bottom: 0.75rem;
    justify-items: center;
}

.grey-otz {
    color: var(--p-color);
    font-family: Space-Regular, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.reviews {
    font-family: "Space-Semi", sans-serif;
    text-decoration: none;
    color: var(--dark-white);
}

.seereviews {
    background-color: #00B67A;
    text-align: start;
    padding: 0.62rem;
    max-width: 100%;
    max-height: 3rem;
    margin-left: 3rem;
}


.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
    gap:6rem;
}

.blog {
    max-width: 24rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.iconblog {
    max-width: 22rem;
    border-radius: 0.5rem;
}


.container .rewalletinthemeida {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: auto;
}

.rewalletinthemeida .button {
    max-height: 3rem;
}

.seemore {
    text-decoration: none;
    color: var(--white);
    font-family: Space-Semi, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
}

.ava {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.avabruno {
    border-radius: 50%;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    height: 2.8rem;
}

.ava p {
    margin-top: -0.25rem;
}

.author p {
    margin-top: 0.5rem;
}

.iconblog {
    justify-content: center;
    max-width: 31.5rem;
}

.blog a {
    text-decoration: none;
    color: var(--darkblue-color);
}

.pr1 {
    display: inline;
    margin-bottom: 0.75rem;
}

.pr2 {
    display: inline;
    margin-bottom: 0.75rem;
}

.pr3 {
    display: inline;
}




.under-p-white {
    color: var(--dark-white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.line {
    width: 3rem;
    height: 0.125rem;
    background-color: var(--orange-color);
}

.head3 {
    font-family: Space-Semi, sans-serif;
    color: var(--darkblue-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}

.head3-white {
    color: var(--white);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}



.otz {
    list-style: none;
    border-radius: 0.5rem;
    padding: 3.2rem;
    margin-bottom: 2.4rem;
}



.blue-hr {
    background-color: var(--darkblue-color);
}


.stepstostart {
    display: inline-flex;
    gap: 0.75rem;
}

.choseblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--darkblue-color);
    padding-top: 8rem;
    padding-bottom: 3.2rem;
    border-radius: 0.5rem;
}

.choseblock p {
    text-align: center;
    margin-bottom: 4rem;
}



.choseblock li {
    background-color: var(--white);
    list-style: none;
    width: 20rem;
    border-radius: 0.5rem;
    margin: 0.8rem 1.6rem;
}

.touch {
    background-color: var(--darkblue-color);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.touch img {
    max-width: 11rem;
    max-height: 11rem;
    border-radius: 0.5rem;
}

.touch_content {
    margin-top: 1.16rem;
}

.touch_content .head3-white {
    margin-top: 2rem;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 3rem;
}

.contactmail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}

.contactphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}

.contactmail a {
    text-decoration: none;
    color: var(--dark-white);
}

.contactphone a{
    text-decoration: none;
    color: var(--dark-white);
}

.foot {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.logo_and_menu {
    flex-direction: column;
}

.footer-content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.footer-content a {
    text-decoration: none;
    color: var(--gray-400);
}

.footc {

    padding-bottom: 1rem;
}



.trustpilot ul {
    display: inline-flex;
}

.trustpilot li {
    list-style: none;
}

.raiting {
    gap: 1rem;
}

.score {
    margin-top: -0.5rem;
}

.partners {
    display: inline-flex;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.faq .head2 {
    display: flex;
    justify-content: center;
}

.steps_start {
    padding: 5rem 5rem;
}

.wrapper_steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper_steps .head2 {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.wrapper_steps ul {
    margin-top: 2rem;
}

summary::marker {
    content: none;
}



.accardion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}


.nameofdetails {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
    font-family: Space-Semi, sans-serif;
    color: var(--darkblue-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}

.footmenu {
    font-size: 1.6rem;
}

.footlogo {
    font-family: Space-Semi, sans-serif;
    color: var(--darkblue-color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}