@font-face {
  font-family: "Space-Semi";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Space-Medium";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Space-Regular";
  src: url("../fonts/space_Groteks/static/SpaceGrotesk-Regular.ttf");
}

:root {
  --darkblue-color: #1a1e42;
  --darkblue-for-text: rgba(26, 30, 66, 0.8);
  --orange-color: orange;
  --p-color: #667085;
  --gray-400: #98a2b3;
  --white: white;
  --dark-white: #d0d5dd;
  --background-section: #2a2d51;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Space-Semi, sans-serif;
  font-style: normal;
  font-weight: 500;
}

html {
  margin-left: 0;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  align-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  padding: 4rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1.8rem 1.6rem;
}

.logo {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 3rem;
}

.burger {
  border: none;
  background-color: transparent;
}

.navigation-blog {
  align-self: center;
  gap: 5rem;
}

.navigation-blog ul {
  display: inline-flex;
  gap: 2rem;
}

.navigation-blog li {
  list-style: none;
  text-align: center;
  margin: auto;
}

.navigation-blog a {
  color: #667085;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
}

.lang__start {
  display: flex;
  color: transparent;
  gap: 2rem;
}

.lang__start a {
  color: var(--darkblue-color);
  font-size: 1.8rem;
  line-height: 1.75rem;
}

.lang {
  display: flex;
  color: #667085;
  font-size: 1.6rem;
  line-height: 1.5rem;
  text-align: center;
  gap: 0.25rem;
  border: none;
  align-items: center;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.start {
  text-decoration: none;
  color: var(--darkblue-color);
  font-size: 1.6rem;
  line-height: 1.75rem;
  align-self: center;
  padding: 1.125rem 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.grey {
  color: var(--p-color);
  font-family: Space-Regular, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.head3 {
  color: var(--darkblue-color);
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.regisration__form {
  display: flex;
  max-width: 70rem;
  flex-wrap: wrap;
}

.form-content {
  font-size: 3rem;
  padding: 3rem;
  display: flex;
  width: 100%;
  max-width: 30rem;
  justify-content: flex-start;
  margin: 0 auto;
}

.form-content:nth-child(1) {
  flex-direction: column;
}

.form-content:nth-child(2) {
  flex-direction: column;
}

input:focus::placeholder {
  transform: translateY(-10px);
}

.form-content {
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.form-content legend {
  margin-bottom: 1rem;
  color: #667085;
  max-width: max-content;
}

.name {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.gender {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.birthday {
  font-size: 2.5rem;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.password {
  font-size: 2.5rem;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.email {
  font-size: 2.5rem;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.tel {
  max-width: max-content;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
label {
  max-width: max-content;
}

.daytime {
  margin-top: 1rem;
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1 auto;
  font-size: 2.5rem;
  text-align: center;
}

.send,
.reset {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #1a1e42;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.6rem;
}

.buttons {
  max-width: max-content;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.buttons button {
  max-height: max-content;
  cursor: pointer;
}

.send__img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 0.5rem;
}

.footer-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.first {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.footer-content a {
  text-decoration: none;
  color: var(--gray-400);
}

.footc {
  padding-bottom: 1rem;
}

.trustpilot {
  margin: 0 auto;
  align-items: flex-start;
}

.trustpilot ul {
  display: inline-flex;
}

.trustpilot li {
  list-style: none;
}

.raiting {
  gap: 1rem;
}

.score {
  margin-top: -0.5rem;
}

.partners {
  display: inline-flex;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.footmenu {
  font-size: 1.6rem;
}

.footlogo {
  color: var(--darkblue-color);
  font-size: 3rem;
  line-height: 1.875rem;
}

.last {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.soc {
  display: none;
  gap: 2rem;
}

@media (max-width: 63.5rem) {
  .regisration__form {
    flex-direction: column;
  }
}

@media (max-width: 814px) {
  .navigation-blog {
    display: none;
  }

  .first {
    max-width: max-content;
    margin: 0 auto;
  }

  .footer-content {
    flex-direction: column;
  }
}

@media (min-width: 815px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .reg {
    justify-content: center;
  }

  .wrapper {
    justify-content: space-between;
  }

  .navigation-blog {
    display: flex;
  }

  .firs_page_descript {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: auto;
    max-width: 60rem;
    max-height: 80rem;
    margin: 0;
  }

  .first {
    flex-direction: row;
    justify-content: space-between;
  }

  .soc {
    display: flex;
  }

  .last {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    max-width: 100%;
  }
}

@media (max-width: 1040px) {
  .navigation-blog {
    display: none;
  }
}

@media (min-width: 1041px) {
  .burger {
    display: none;
  }
}
